<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://static.argoeg.click/style1.css"/>
    <title th:text="#{menu.mainPage}"></title>
</head>
<body>
    <div th:replace="/includes/menu :: menu"> </div>
    <div th:replace="/includes/admenu :: admenu"> </div>
    <h1 th:if="${message!=null}" th:text="${message}"></h1>

    <form id="files" action="#" th:action="@{/files/1}"
             method="GET" enctype="multipart/form-data">
        <button type="submit" style="font-size: large">
            <label th:text="#{user.file.download}"/>
            <img th:src="@{https://static.argoeg.click/download.jpeg}" width="20" height="20"/>
        </button>
    </form>
</body>
</html>