@charset "UTF-8";

#seaImage {
    width: 100%;
    height: 100px;
    background: url("/resources/images/sea.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    height: 100%;
    width: 100%;
    background: url("/resources/images/002.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {

    font-family: sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #000000;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

input {
    height: 20px;
    border: 1px solid gray;
    border-radius: 2px;
}

#files {
    text-align: center;
    color: white;
    margin-top: 50px;
    height: auto;
}

form {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 14px;
}

p {
    color: #cfd9db;
    font-weight: bold;
    font-size: medium;
    font-style: italic;
    font-stretch: expanded;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 1200px;
    margin: auto;
}

h2, h1 {
    text-align: center;
    color: #cfd9db;
    font-weight: bold;
    font-style: italic;
    margin-left: 20px;
}

.text {
    color: #cfd9db;
    font-weight: bold;
    font-style: italic;
    margin-left: 20px;
}

#uploadForm {
    margin-left: 20px;
}

#exportForm {
    margin-left: 20px;
    width: 160px;
    height: 40px;
    text-align: center;
}

#h2Margin {
    margin-top: 125px;
}

a {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

a:hover {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    color: #0080c0;
    text-decoration: underline;
}

.formbutton {
    background-color: white;
    border: 1px solid black;
    color: #005984;
    padding: 10px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    width: 160px;
    height: 40px;
}

.formbutton:hover {
    border: 1px solid red;
}

.buttonCancel {
    width: 100px;
}

.buttonSave {
    width: 90px;
}
.alert {
    color: red;
}

