<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://www.staticsea.blackspringboot.click/style.css"/>
    <title th:text="#{profilEdit.pageName}"></title>
</head>
<body>
    <th th:replace="/includes/menu :: menu"> </th>
    <h2 th:text="#{profilEdit.pageName}"></h2>
    <!--            /*@thymesVar id="user" type="com.spring.start.springProjekt.user.User>"*/-->
    <form id="usersForm" action="#" method="post" th:object=${user} th:action="@{'/updateprofil'}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" name="id" id="id">
        <table width="500" border="0" cellpadding="4" cellspacing="1"
               align="center">

            <tr>
                <td colspan="2" align="center"  th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert"></td>
            </tr>
            <tr>
                <td width="130" align="right" th:text="#{register.name}"  ></td>
                <td width="270" align="left" >
                    <input name="name" type="text" size="28" id="name" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert"></td>
            </tr>
            <tr>
                <td width="130" align="right" th:text="#{register.lastName}"></td>
                <td width="270" align="left">
                    <input name="lastName" type="text" size="28" id="lastName" th:field="*{lastName}">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert">></td>
            </tr>
            <tr>
                <td width="130" align="right" th:text="#{register.email}"></td>
                <td width="270" align="left">
                    <input name="email" type="text" size="28" id="email" th:field="*{email}">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button type="submit" th:text="#{button.save}" class="formbutton"/>
                    <button type="button" th:text="#{button.cancel}" class="formbutton" th:onclick="|window.location.href='/'|"/>
                </td>
            </tr>

        </table>
    </form>

</body>
</html>