<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://static.argoeg.click/style1.css"/>
    <title th:text="#{button.passwordChanging}"></title>
</head>
<body>
<th th:replace="/includes/menu :: menu"> </th>
<h2 th:text="#{button.passwordChanging}"></h2>
<!--            /*@thymesVar id="user" type="com.spring.start.springProjekt.user.User>"*/-->
<form id="usersForm" action="#" method="post" th:object=${user} th:action="@{'/updatepass'}" enctype="multipart/form-data">
    <input type="hidden" th:field="*{email}" name="email" id="email">

    <table width="500" border="0" cellpadding="4" cellspacing="1"
           align="center">
        <tr>
            <td colspan="2" align="center"  th:if="${#fields.hasErrors('oldPasswordCheck')}" th:errors="*{oldPasswordCheck}" class="alert"></td>
        </tr>
        <tr>
            <td width="130" align="right" th:text="#{passwordChange.oldPassword}"  ></td>
            <td width="270" align="left" >
                <input name="oldPasswordCheck" type="text" size="28" id="oldPasswordCheck" th:field="*{oldPasswordCheck}">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center"  th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="alert"></td>
        </tr>
        <tr>
            <td width="130" align="right" th:text="#{passwordChange.newPassword}"  ></td>
            <td width="270" align="left" >
                <input name="newPassword" type="text" size="28" id="newPassword" th:field="*{newPassword}">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center"  th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="alert"></td>
        </tr>
        <tr>
            <td width="130" align="right" th:text="#{passwordChange.confirm}"  ></td>
            <td width="270" align="left" >
                <input name="passwordConfirm" type="text" size="28" id="passwordConfirm" th:field="*{passwordConfirm}">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button type="submit" th:text="#{button.save}" class="formbutton"/>
                <button type="button" th:text="#{button.cancel}" class="formbutton" th:onclick="|window.location.href='/profil'|"/>
            </td>
        </tr>

    </table>
</form>

</body>
</html>